.highlight .hll { background-color: #e0e1e3 !important }
.highlight  { background: #efefef; color: #f8f8f2 !important }
.highlight .c { color: #8d8d8d !important } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 !important } /* Error */
.highlight .k { color: #713bc5 !important; font-weight: normal !important } /* Keyword */
.highlight .l { color: #055be0 !important } /* Literal */
.highlight .n { color: #303030 !important } /* Name */
.highlight .o { color: #055be0; font-weight: bold; !important } /* Operator */
.highlight .p { color: #000000 !important } /* Punctuation */
.highlight .cm { color: #8d8d8d !important } /* Comment.Multiline */
.highlight .cp { color: #8d8d8d !important } /* Comment.Preproc */
.highlight .c1 { color: #8d8d8d !important } /* Comment.Single */
.highlight .cs { color: #8d8d8d !important } /* Comment.Special */
.highlight .gd { color: #f92672 !important } /* @ Generic.Deleted */
.highlight .ge { font-style: italic !important } /* Generic.Emph */
.highlight .gi { color: #a6e22e !important } /* @ Generic.Inserted */
.highlight .gs { font-weight: bold !important } /* Generic.Strong */
.highlight .gu { color: #75715e !important } /* @ Generic.Subheading */
.highlight .kc { color: #713bc5 !important; font-weight: normal !important } /* Keyword.Constant */
.highlight .kd { color: #713bc5 !important } /* Keyword.Declaration */
.highlight .kn { color: #713bc5 !important; font-weight: normal !important } /* Keyword.Namespace */
.highlight .kp { color: #713bc5 !important } /* Keyword.Pseudo */
.highlight .kr { color: #713bc5 !important } /* Keyword.Reserved */
.highlight .kt { color: #713bc5 !important } /* Keyword.Type */
.highlight .ld { color: #055be0 !important } /* Literal.Date */
.highlight .m { color: #ff8132 !important } /* Literal.Number */
.highlight .s { color: #009e07 !important } /* Literal.String */
.highlight .na { color: #de143d !important } /* Name.Attribute */
.highlight .nb { color: #e22978 !important } /* Name.Builtin */
.highlight .nc { color: #e22978 !important; font-weight: normal !important } /* Name.Class */
.highlight .no { color: #66d9ef !important } /* @ Name.Constant */
.highlight .nd { color: #e22978 !important } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 !important } /* @ Name.Entity */
.highlight .ne { color: #303030 !important; font-weight: normal !important } /* Name.Exception */
.highlight .nf { color: #e22978 !important } /* Name.Function */
.highlight .nl { color: #f8f8f2 !important } /* @ Name.Label */
.highlight .nn { color: #303030 !important; font-weight: normal !important } /* Name.Namespace */
.highlight .nx { color: #a6e22e !important } /* @ Name.Other */
.highlight .py { color: #f8f8f2 !important } /* @ Name.Property */
.highlight .nt { color: #f92672 !important } /* @ Name.Tag */
.highlight .nv { color: #f8f8f2 !important } /* @ Name.Variable */
.highlight .ow { color: #713bc5 !important; font-weight: normal !important } /* Operator.Word */
.highlight .w { color: #f8f8f2 !important } /* @ Text.Whitespace */
.highlight .mb { color: #ff8132 !important } /* Literal.Number.Bin */
.highlight .mf { color: #ff8132 !important } /* Literal.Number.Float */
.highlight .mh { color: #ff8132 !important } /* Literal.Number.Hex */
.highlight .mi { color: #ff8132 !important } /* Literal.Number.Integer */
.highlight .mo { color: #ff8132 !important } /* Literal.Number.Oct */
.highlight .sb { color: #009e07 !important } /* Literal.String.Backtick */
.highlight .sc { color: #009e07 !important } /* Literal.String.Char */
.highlight .sd { color: #009e07 !important } /* Literal.String.Doc */
.highlight .s2 { color: #009e07 !important } /* Literal.String.Double */
.highlight .se { color: #dc322f !important; font-weight: normal !important } /* Literal.String.Escape */
.highlight .sh { color: #009e07 !important } /* Literal.String.Heredoc */
.highlight .si { color: #009e07 !important; font-weight: normal !important } /* Literal.String.Interpol */
.highlight .sx { color: #009e07 !important } /* Literal.String.Other */
.highlight .sr { color: #009e07 !important } /* Literal.String.Regex */
.highlight .s1 { color: #009e07 !important } /* Literal.String.Single */
.highlight .ss { color: #009e07 !important } /* Literal.String.Symbol */
.highlight .bp { color: #e22978 !important } /* Name.Builtin.Pseudo */
.highlight .vc { color: #303030 !important } /* Name.Variable.Class */
.highlight .vg { color: #303030 !important } /* Name.Variable.Global */
.highlight .vi { color: #303030 !important } /* Name.Variable.Instance */
.highlight .il { color: #ff8132 !important } /* Literal.Number.Integer.Long */
