/*$main-color: #1DAEDF;
$main-color-semidark: #328cc7;
$main-color-dark: #2980b9;*/
//$main-color: #FF6027;
//$main-color-semidark: #FF4F00;
//$main-color-dark: #E84C3D;
$main-color: #607D8B;
$main-color-semidark: #546E7A;
$main-color-dark: #455A64;
$nav-height: 60px;
$footer-height: 80px;


html {
  background: white;
  font-size: 14px;
}

/* Titles */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}

h3, h4 {
  margin-bottom: 0;
}

.title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: $main-color;
  line-height: 1;
  font-weight: 600;
}

.latest {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail {
  font-size: 2em;
  line-height: 1em;
}

.entry-content {
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

article section {
  .about {
    font-size: 18px;
    color: #444;
    text-align: justify;
  }
  .blog-post {
    font-size: 16px;
  }
}

/* Navbar */

nav ul {
  list-style: none;
  margin: 0;
  margin-right: 1em;

  li {
    position: relative;
    display: inline-block;
    margin-right: 2em;
    line-height: $nav-height;
  }
}

/* Body */

body {
  margin: 0;
  font-family: 'Lora', serif;

  > nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    color: white;
    background-color: $main-color-dark;
    display: flex;
    justify-content: space-between;

    h2 {
      text-transform: uppercase;
      margin: auto;
      margin-left: 3em;
      font-size: 1.5rem;
      line-height: $nav-height;
    }
  }

  > article {
    min-height: calc(100vh - #{$footer-height + 2 * $nav-height});
    width: 60%;
    line-height: 1.6em;
    display: block;
    margin-top: 2 * $nav-height;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      height: $footer-height;
      display: block;
    }
  }
}

footer {
  position: relative;
  clear: both;
  line-height: 1.6em;
  display: flex;
  height: 80px;
  padding: 50px 80px 10px;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}

article {
  h1 {
    line-height: 1.3em;
  }

  ol {
    padding-left: 0;
  }
}

/* Articles */

p.post_entry {}

article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px $main-color;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

.article_left > h1 {
  font-size: 20px;
}

.article_right {
  background-color: white;
}

.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

.output_subarea {
  max-width: 100% !important;
}

img {
  max-width: 100%;
}

.entry-social {
  margin-top: 10px;
}

.comments {
  margin-top: 30px;
}

.img-with-copyright > p {
  margin-bottom: 0;
}

.copyright {
  font-size: 12px;
  color: grey;
  margin-bottom: 50px;

  span {
    position: relative;
    float: right;
  }
}

/* Links */

a {
  color: $main-color;
  text-decoration: none;
  &:visited, &:link, &:active {
    color: $main-color;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }

  code {
    text-decoration: underline;
  }
}

.rendered_html {
  p:first-child {
    margin-top: 10px;
  }
  p:last-child {
    margin-bottom: 0;
  }

  :link {
    font-family: 'Lora', serif;

    &:hover {
      font-family: 'Lora', serif;
    }
  }
}

nav {
  a:link,a:visited,a:hover {
    color: white;
    text-decoration: none;
  }
}

/* Code */

.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
  margin-bottom: 0;
}

.output-area {
  font-size: 14px;
}

.input_prompt,.output_prompt {
  display: none;
}

.prompt {
  display: none;
}

.dataframe td, .dataframe th {
  padding: 4px;
}

/* Sidebar */

.social {
  display: inline-block;
  margin-top: 40px;
}

.nav {
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 40px;
  > ul > li {
    font-size: 15px;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $main-color-semidark;
    }
  }
}

.navbar {
  a:link, a:visited, a:hover {
    color: white;
  }
}

.list-bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid $main-color-semidark;
}

/*------------Text--------------*/

.rendered-html p {
  margin-top: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p {
  margin-top: 0.7em;
}

h2 code {
  font-size: 15pt !important;
}

h3 code {
  font-size: 13pt !important;
}

.anchor-link {
  display: none;

  h1:hover & {
    display: inline;
  }
  h2:hover & {
    display: inline;
  }
  h3:hover & {
    display: inline;
  }
  h4:hover & {
    display: inline;
  }
}

blockquote {
  border-left: 5px solid #eeeeee;
  margin: 1em 2em;
  padding: 1px 18px;
}

table.dataframe {
  border-collapse: collapse;
}

/*--------Scrollbar-------------*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.11);
  background-color: #d0d0d0;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
  background-color: #d0d0d0;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear,40% 0%,75% 86%,from($main-color-dark),color-stop(0.5,$main-color-semidark),to($main-color-dark));
  min-height: 60px;
  border-radius: 2px;
}

/*--------Responsive------------*/

@media (max-width: 800px) {
  body > article {
    width: 80%;
    margin: 80px auto;
    padding: 40px;
  }
  //#avatar {
    //height: 50px;
    //width: 50px;
    //margin: 10px auto;
  //}
}
@media (max-width: 450px) {
  body > nav h2 {
    font-size: 1.2rem;
  }
}
